Package: page.juliette.ping
Name: Ping
Depends: mobilesubstrate
Version: 2.0.0
Architecture: iphoneos-arm
Description: Notification customization.
Maintainer: Juliette <hi@juliette.page>
Author: Juliette <hi@juliette.page>
Section: Tweaks
