Package: me.justnaaa 
Name: Ping 📣 
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)
Version: 2.0.0
Architecture: iphoneos-arm
Description: Notification customization.
Maintainer: Juliette <hi@juliette.page>
Author: Juliette <hi@juliette.page>
Section: Tweaks
