<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>label</key>
            <string>Enable blur</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>page.juliette.Ping.Prefs</string>
            <key>key</key>
            <string>actionMtmaterialViewBlurEnabled</string>
            <key>PostNotification</key>
            <string>page.juliette.Ping.Prefs/ReloadPrefs</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Background color (hex)</string>
            <key>placeholder</key>
            <string>#FFFFF</string>
            <key>defaults</key>
            <string>page.juliette.Ping.Prefs</string>
            <key>key</key>
            <string>actionBackGroundColor</string> 
            <key>PostNotification</key>
            <string>page.juliette.Ping.Prefs/ReloadPrefs</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>label</key>
            <string>Transparent background</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>page.juliette.Ping.Prefs</string>
            <key>key</key>
            <string>actionTransparentBackground</string>
            <key>PostNotification</key>
            <string>page.juliette.Ping.Prefs/ReloadPrefs</string>
        </dict>

    </array>
    <key>title</key>
    <string>Actions</string>
</dict>
</plist>
