<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>label</key>
            <string>Enable blur</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>page.juliette.Ping.Prefs</string>
            <key>key</key>
            <string>mtmaterialViewBlurEnabled</string>
            <key>PostNotification</key>
            <string>page.juliette.Ping.Prefs/ReloadPrefs</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>label</key>
            <string>Transparent background</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>page.juliette.Ping.Prefs</string>
            <key>key</key>
            <string>allTransparent</string>
            <key>PostNotification</key>
            <string>page.juliette.Ping.Prefs/ReloadPrefs</string>
        </dict>
        <!-- TODO make this toggle the cells -->
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>label</key>
            <string>Header and content have custom colors</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>page.juliette.Ping.Prefs</string>
            <key>key</key>
            <string>topAndBottomDifferent</string>
            <key>PostNotification</key>
            <string>page.juliette.Ping.Prefs/ReloadPrefs</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Top background color (hex)</string>
            <key>placeholder</key>
            <string>#FFFFF</string>
            <key>defaults</key>
            <string>page.juliette.Ping.Prefs</string>
            <key>key</key>
            <string>topBackgroundColor</string> 
            <key>PostNotification</key>
            <string>page.juliette.Ping.Prefs/ReloadPrefs</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Bottom background color (hex)</string>
            <key>placeholder</key>
            <string>#FFFFF</string>
            <key>defaults</key>
            <string>page.juliette.Ping.Prefs</string>
            <key>key</key>
            <string>bottomBackgroundColor</string> 
            <key>PostNotification</key>
            <string>page.juliette.Ping.Prefs/ReloadPrefs</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Background color (hex)</string>
            <key>placeholder</key>
            <string>#FFFFF</string>
            <key>defaults</key>
            <string>page.juliette.Ping.Prefs</string>
            <key>key</key>
            <string>backgroundColor</string> 
            <key>PostNotification</key>
            <string>page.juliette.Ping.Prefs/ReloadPrefs</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Other</string>
        </dict>
        <!-- TODO
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Each side has a custom radius</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>page.juliette.Ping.Prefs</string>
            <key>key</key>
            <string>customSideRadius</string>
            <key>PostNotification</key>
            <string>page.juliette.Ping.Prefs/ReloadPrefs</string>
        </dict>
        -->
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>key</key>
            <string>notificationAllRadius</string>
            <key>placeholder</key>
            <string>000</string>
            <key>label</key>
            <string>Notification Radius</string>
            <key>defaults</key>
            <string>page.juliette.Ping.Prefs</string>
            <key>default</key>
            <string>0</string>
            <key>PostNotification</key>
            <string>page.juliette.Ping.Prefs/ReloadPrefs</string>
        </dict>
    </array>
    <key>title</key>
    <string>Background</string>
</dict>
</plist>
