<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>label</key>
                <string>Show title</string>
                <key>default</key>
                <true/>
                <key>defaults</key>
                <string>page.juliette.Ping.Prefs</string>
                <key>key</key>
                <string>headerShowTitle</string>
                <key>PostNotification</key>
                <string>page.juliette.Ping.Prefs/ReloadPrefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>label</key>
                <string>Show date</string>
                <key>default</key>
                <true/>
                <key>defaults</key>
                <string>page.juliette.Ping.Prefs</string>
                <key>key</key>
                <string>headerShowDate</string>
                <key>PostNotification</key>
                <string>page.juliette.Ping.Prefs/ReloadPrefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>label</key>
                <string>Show icon</string>
                <key>default</key>
                <true/>
                <key>defaults</key>
                <string>page.juliette.Ping.Prefs</string>
                <key>key</key>
                <string>headerHideIcon</string>
                <key>PostNotification</key>
                <string>page.juliette.Ping.Prefs/ReloadPrefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>label</key>
                <string>Each label has a custom text color</string>
                <key>default</key>
                <false/>
                <key>defaults</key>
                <string>page.juliette.Ping.Prefs</string>
                <key>key</key>
                <string>headerLabelUniqueColor</string>
                <key>id</key>
                <string>headerLabelUniqueColor</string>
                <key>PostNotification</key>
                <string>page.juliette.Ping.Prefs/ReloadPrefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>label</key>
                <string>Text color (hex)</string>
                <key>placeholder</key>
                <string>#FFFFF</string>
                <key>defaults</key>
                <string>page.juliette.Ping.Prefs</string>
                <key>toggleable</key>
                <true/>
                <key>hideOnToggle</key>
                <false/>
                <key>key</key>
                <string>headerLabelTextColorAll</string> 
                <key>id</key>
                <string>headerLabelTextColorAll</string>
                <key>PostNotification</key>
                <string>page.juliette.Ping.Prefs/ReloadPrefs</string>
            </dict>
            <!--
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>label</key>
                <string>App name text color (hex)</string>
                <key>placeholder</key>
                <string>#FFFFF</string>
                <key>defaults</key>
                <string>page.juliette.Ping.Prefs</string>
                <key>toggleable</key>
                <true/>
                <key>hideOnToggle</key>
                <true/>
                <key>key</key>
                <string>headerLabelTextColorAppName</string> 
                <key>id</key>
                <string>headerLabelTextColorAppName</string>
                <key>PostNotification</key>
                <string>page.juliette.Ping.Prefs/ReloadPrefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>label</key>
                <string>Date text color (hex)</string>
                <key>placeholder</key>
                <string>#FFFFF</string>
                <key>defaults</key>
                <string>page.juliette.Ping.Prefs</string>
                <key>toggleable</key>
                <true/>
                <key>hideOnToggle</key>
                <true/>
                <key>key</key>
                <string>headerLabelTextColorDate</string> 
                <key>id</key>
                <string>headerLabelTextColorDate</string>
                <key>PostNotification</key>
                <string>page.juliette.Ping.Prefs/ReloadPrefs</string>
            </dict>
            -->
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>label</key>
                <string>Message text color (hex)</string>
                <key>placeholder</key>
                <string>#FFFFF</string>
                <key>defaults</key>
                <string>page.juliette.Ping.Prefs</string>
                <key>toggleable</key>
                <true/>
                <key>hideOnToggle</key>
                <true/>
                <key>key</key>
                <string>headerLabelTextColorMessage</string> 
                <key>id</key>
                <string>headerLabelTextColorMessage</string>
                <key>PostNotification</key>
                <string>page.juliette.Ping.Prefs/ReloadPrefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>label</key>
                <string>Title text color (hex)</string>
                <key>placeholder</key>
                <string>#FFFFF</string>
                <key>defaults</key>
                <string>page.juliette.Ping.Prefs</string>
                <key>toggleable</key>
                <true/>
                <key>hideOnToggle</key>
                <true/>
                <key>key</key>
                <string>headerLabelTextColorTitle</string> 
                <key>id</key>
                <string>headerLabelTextColorTitle</string>
                <key>PostNotification</key>
                <string>page.juliette.Ping.Prefs/ReloadPrefs</string>
            </dict>
        </array>
        <key>title</key>
        <string>Header</string>
    </dict>
</plist>
