<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	    <!-- TODO: Put branding here -->
        <dict>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Juliette</string>
            <key>user</key>
            <string>JuliettePod</string>
            <key>iconURL</key>
            <string>https://pbs.twimg.com/profile_images/1380936576834883593/GxYLhA2e_400x400.png</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>label</key>
            <string>Header</string>
            <key>detail</key>
            <string>JuliettePingHeaderSettings</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>label</key>
            <string>Background</string>
            <key>detail</key>
            <string>JuliettePingBackgroundSettings</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>label</key>
            <string>Quick actions</string>  
            <key>detail</key>
            <string>JuliettePingActionSettings</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Respring</string>
            <key>action</key>
            <string>respringAction</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source</string>
			<key>url</key>
            <string>https://github.com/justnaa/PingTweak</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerText</key>
            <string>Ping, a tweak made by Juliette</string>
        </dict>
    </array>
    <key>title</key>
    <string>Ping</string>
</dict>
</plist>
