<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	    <!-- TODO: Put branding here -->
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>label</key>
            <string>Background</string>
            <key>detail</key>
            <string>JuliettePingBackgroundSettings</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>label</key>
            <string>Quick actions</string>  
            <key>detail</key>
            <string>JuliettePingActionSettings</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Respring</string>
            <key>action</key>
            <string>respringAction</string>
        </dict>
    </array>
    <key>title</key>
    <string>Ping</string>
</dict>
</plist>
